.overview-card {
    background: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 0 2rem;
}
.overview-card > div {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: var(--text-main-color);
    font-size: 2rem;
}
.up-down {
    width: .8rem;
    margin: 5px;
}