.overview-card {
    background: var(--card-bg-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 0 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.overview-card > div {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: var(--text-main-color-dark);
    font-size: 2rem;
}
.up-down {
    width: .8rem;
    margin: 5px;
}


@media only screen and (max-width: 600px){
    .overview-card {
        padding: 2rem;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .overview-card {
        padding: 2rem;
    }
}